@font-face {
  font-family: "regular";
  src: url("./components/fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.pad {
  padding: 120px 0;
}

textarea {
  resize: none !important;
}

.regular,
.nav-list,
select {
  font-family: "regular";
}

.login-box {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px;
}

.login-box img {
  width: 150px;
}

.counter-card {
  box-shadow: 2px 2px 10px #dadada;
  margin: 5px;
  padding: 30px 10px;
  background-color: #fff;
  height: 150px;
  border-radius: 5px;
  position: relative;
}

.counter-card svg {
  font-size: 4rem;
  opacity: 0.2;
}

.spin svg {
  animation: spin 15s infinite;
  transition: 1s all;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.counter-card .count-numbers {
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: 3rem;
  color: #fff;
}

.counter-card .count-name {
  position: absolute;
  right: 35px;
  top: 100px;
  opacity: 0.9;
  font-size: 15px;
  color: #fff;
}

.counter-card.yellow {
  background: linear-gradient(to right bottom, #ffd81b, #f9b12a);
}

.counter-card.green {
  background: linear-gradient(to right bottom, #a9dd23, #52c242);
}

.cyan {
  background: linear-gradient(to right bottom, #01ad9f, #008888);
}

.counter-card.blue {
  background: linear-gradient(to right bottom, #00c5ef, #0092f4);
}

.counter-card.red {
  background: linear-gradient(to right bottom, #ff7878, #ff0000);
}

.page-nav .nav-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  gap: 10px;
}

.page-nav .nav-icon {
  font-size: 24px;
}

.page-nav > .nav-list {
  font-size: 18px;
  font-weight: 500;
}

.create-btn {
  width: 120px;
  height: 46px;
  color: #ffffff !important;
  border-radius: 6px !important;
  font-weight: 600;
  transition: 0.5s all;
  font-size: 14px !important;
  font-family: "regular" !important;
  background: #d9241b !important;
}

::placeholder {
  font-family: "regular";
  font-size: 15px;
}

table {
  border-radius: 12px;
  background-color: #fff !important;
  font-size: 14px;
  vertical-align: middle !important;
}

tr,
th,
td {
  padding: 8px 16px !important;
  color: #434343 !important;
  border-bottom: 1px solid #e5e5e5 !important;
  font-family: "regular";
  background: transparent !important;
}

.w-8 {
  width: 8% !important;
}

.wire-table td {
  border: 1px solid #000 !important;
}

.action {
  color: #646464 !important;
}

.role {
  color: #646464;
  padding-right: 10px;
}

.form {
  position: relative;
}

.form .place-icon {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 13px;
}

.form-cntrl {
  padding: 10px !important;
  outline: none !important;
  border: 1px solid #b8c8f8 !important;
  border-radius: 8px;
  background: #e5e8f1;
}

textarea:focus,
input:focus {
  outline: none;
}

.form-select:focus {
  border: 0 !important;
  border-radius: 4px !important;
  outline: 0px !important;
}

.delete {
  color: red !important;
  border-radius: 6px !important;
  font-weight: 800 !important;
  transition: 0.5s all;
  font-size: 28px !important;
  font-family: "regular" !important;
  background: none !important;
  border-radius: 0px 8px 8px 0px !important;
  padding: 6.1px 12px !important;
}

.main-content {
  padding: 10px 28px !important;
  margin-left: 240px;
  margin-top: 60px;
}

.main {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}

.page-nav-link {
  margin: 0 4px;
  background: none !important;
  border: 1px solid rgb(19, 125, 91) !important;
  padding: 0px 1px 0px 1px !important;
  font-size: 14px;
  height: 30px !important;
  width: 30px !important;
  text-align: center;
  color: rgb(19, 125, 91) !important;
  border-radius: 4px;
}

.user-data {
  display: none;
}

.form-icon {
  position: relative;
}

.form-cntrl-bt {
  padding: 1rem !important;
  outline: none !important;
  border: 1px solid #b8c8f8 !important;
  border-radius: 8px;
  background: #e5e8f1;
}

.prefix-icon {
  position: absolute;
  top: 4px;
  left: 10px;
}

.suffix-icon {
  position: absolute;
  right: 10px;
  top: 4px;
}

.form-control-padboth {
  padding: 0.375rem 2.2rem !important;
}

.form-control-padleft {
  padding: 0.375rem 0 0.375rem 2.2rem !important;
}

.form-control-padright {
  padding: 0.375rem 2.2rem 0.375rem 1rem !important;
}

.form textarea:focus,
input:focus {
  outline: none;
}

.dropdown-toggle::after {
  content: none !important;
}

.css-13cymwt-control {
  outline: 0 !important;
  background: #e5e8f1 !important;
  border: 1px solid #b8c8f8 !important;
  border-radius: 4px 0 0 4px !important;
}

.css-1nmdiq5-menu {
  background: #e5e8f1 !important;
  color: #252525 !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

.filter {
  color: #0757df !important;
  border: 2px solid #0757df !important;
}

.close-btn {
  font-size: 32px;
}

.back {
  color: #d9241b !important;
}

.jewel-details {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.jewel-details.open {
  max-height: 500px;
}

.upload-proof {
  position: relative;
}

.wrong {
  position: absolute;
  left: 50px;
  top: 0px;
  cursor: pointer;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 120px;
  font-weight: bold;
}
